NODE_ENV=development
STAGE=local
PORT=3000
CREDENTIALS=true

WEB_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3001

PUBLIC_URL=

JWT_SECRET=sadfjhuvb2wuy23V67ASVCDi9gciu
JWT_EXPIRES_IN=1d

BILLING_SECRET=asdf1u2v1uyxbvv162vuUYAFVS61VJHjkhvh

DATABASE_URL=postgresql://archai_db_user:oAxQ2FQwjjPcNUYjS5JpOfv5LvCBaGFy@dpg-da38d23bc2fs738ft560-a/archai_db

SWAGGER_ENABLED=true
SWAGGER_PATH=/docs

REDIS_URL=redis://127.0.0.1:6379

AWS_REGION=eu-central-1
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_FILE_VIEW_EXPIRY=3600

MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=ArchAI <no-reply@archai.uz>

PAYME_MERCHANT_ID=
PAYME_SECRET_KEY=
CLICK_MERCHANT_ID=
CLICK_SERVICE_ID=
CLICK_SECRET_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

SEED_ADMIN_EMAIL=admin@gmail.com
SEED_ADMIN_PASSWORD=password123
